################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenkinsTest/JenkinsTest/bin/Debug/net9.0
/JenkinsTest/.vs/JenkinsTest/config
/JenkinsTest/.vs/JenkinsTest/FileContentIndex
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/ref
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/refint
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/staticwebassets
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/ApiEndpoints.json
*.exe
*.Up2Date
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.AssemblyInfoInputs.cache
*.BuildWithSkipAnalyzers
*.cache
*.txt
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.dll
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.pdb
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.sourcelink.json
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/staticwebassets.build.json
/JenkinsTest/.vs/JenkinsTest/v17/.suo
/JenkinsTest/.vs/JenkinsTest/v17/DocumentLayout.backup.json
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.AssemblyInfo.cs
/JenkinsTest/JenkinsTest/obj/Debug/net9.0/JenkinsTest.MvcApplicationPartsAssemblyInfo.cs
/JenkinsTest/.vs/JenkinsTest/v17
